##
# Ansible provided setup. See https://github.com/fourkitchens/server-playbooks.
# branch drush-vagrant
##

##
# This server is only serving one site, on /var/www/drupal
# this directory on the virtual server is shared with the host
#
#
#
<VirtualHost *:80>
	ServerAdmin {{ apache_server_admin }}
	ServerAlias {{ apache_server_alias }}

	DocumentRoot /var/www/drupal

	<Directory /var/www/>
		Options Indexes FollowSymLinks
		AllowOverride All
		Order allow,deny
		allow from all
	</Directory>

</VirtualHost>
