user www-data;
worker_processes {{ ansible_processor_count }};
 
pid /var/run/nginx.pid;
 
events {
worker_connections {{ connections }} ;
# multi_accept on;
}
 
http {
 
##
# Basic Settings
##
 
sendfile on;
tcp_nopush on;
tcp_nodelay on;
keepalive_timeout 65;
types_hash_max_size 2048;
server_tokens off;
 
# server_names_hash_bucket_size 64;
# server_name_in_redirect off;
 
include /etc/nginx/mime.types;
default_type application/octet-stream;
 
##
# Logging Settings
##
 
access_log /var/log/nginx/access.log;
error_log /var/log/nginx/error.log;
 
##
# Gzip Settings
##
 
gzip on;
gzip_disable "msie6";
 
# gzip_vary on;
# gzip_proxied any;
# gzip_comp_level 6;
# gzip_buffers 16 8k;
# gzip_http_version 1.1;
# gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;
 
##
# If HTTPS, then set a variable so it can be passed along.
##
 
map $scheme $server_https {
default off;
https on;
}
 
##
# Virtual Host Configs
##
 
include /etc/nginx/conf.d/*.conf;
include /etc/nginx/sites-enabled/*;
}

